# misc
.DS_Store

logs
*.log
npm-debug.log*
.npm

*.tgz
.nyc_output
lib-cov

pids
*.pid
*.seed
*.pid.lockpids
*.pid
*.seed
*.pid.lock

.idea
.vscode


.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
.yarn/versions
